<!DOCTYPE html>
<html>
<head>
  <title>Growth</title>
  <%= stylesheet_link_tag    "growth/application", media: "all" %>
  <%= javascript_include_tag "growth/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
