<div class="sidebar-sticky">
	<ul class="nav flex-column">
    <% resources.each do |resource| %>
      <li class="nav-item">
        <a class="nav-link active" href="#">
          <%= resource.to_s.pluralize %> <span class="sr-only">(current)</span>
        </a>
      </li>
    <% end %>
  </ul>
</div>