<div class="sidebar-sticky">
	<ul class="nav flex-column">
		<li class="nav-link">
			<%= link_to root_path do %>
			  <h3 class="logo"><b>Growth</b>Engine</h3>
			<% end %>
		</li>
    <% resources.each do |resource| %>
      <li class="nav-item">
				<%= link_to resource.to_s.pluralize, stat_path(resource.to_s.camelize(:lower)), class: 'nav-link' %>
      </li>
    <% end %>
  </ul>
</div>