<h2 class="my-4">Totals</h2>

<div class="row">
  <% resources.each do |resource| %>
		<div class="col-md-2">
			<div class="box">
				<h6><%= pluralize_constant(resource) %></h6>
				<h2><%= number_with_delimiter(resource.count, delimiter: ",") %></h2>
			</div>
		</div>
	<% end %>
</div>