<div class="row">
	<div class="col-md-2 d-none d-md-block bg-light sidebar">
		<%= render "navbar" %>
	</div>
	<div class="col-md-10">
		<%= render "totals", resources: resources %>
		<%= render "growth", resources: resources, year: year %>
		<%= render "associations" %>
	</div>
</div>